<!doctype html>
<html>
<head>
    <title>Your Tickets</title>
</head>
<body>
    <h1>Your Tickets</h1>
    <ul>
    {% for ticket in tickets %}
        <li><strong>{{ ticket.title }}</strong>: {{ ticket.description }}<br>
            <em>Response: {{ ticket.response }}</em><br>
            <a href="{{ url_for('ticket_view', ticket_id=loop.index0) }}">View Ticket</a></li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('create_ticket') }}">Create Ticket</a>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
